/*------------------------------RESET*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;    

}
:root{
    --1st-color: #fff;
    --2nd-color: #000;
    --3rd-color: #9891DF;    
    --4th-color: #BEDBFC;
    --5th-color: #3981F4;
    --6th-color: #FDC15F;
}

.container{
    padding: 0 1em;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}
.button{
    padding: 5px 10px;
    display: inline-block;

}
.white-b{
    background-color: var(--1st-color);
    color: var(--2nd-color);
    border-radius: 14px 14px;

}

.blue-b{
    background-color: var(--5th-color);
    color: var(--1st-color);
    border-radius: 14px 14px;
}
.box-container{
    width: calc( 100% - 40px );
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

}
.box-container i{
    color: var(--5th-color);
}
/*------------------------------HEADER*/
header{
    background-color: var(--5th-color);
    height: 80px;
    color: var(--1st-color);
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 1rem;
}
.show-menu{
    font-size: 2rem;
}
.menu-list ul li{
    list-style: none;
}
.menu-list ul{
    display: none;
}
/*------------------------------MAIN*/

.features{
    display: flex;
    flex-wrap: wrap;
}
section{
    margin: 20px 0;
}
.light-blue-box-rounded{
    background-color: var(--4th-color);
    width: 100%;
    margin: 10px 5px;
    border-radius: 1rem;

}

.box-w-2-3rd{
    width: 100%;
    min-height: 10vw;
}
.box-w-1-3rd{
    width: 100%;
    min-height: 10vw;
}
.light-blue-box-rounded .title{
    font-size: 1.4em;
    color: var(--5th-color);
    font-weight: 500;
}
.light-blue-box-rounded img{
    width: 200px;
}

section:nth-child(even) {
    background-color: var(--3rd-color);
  }

.box-container *{
    margin-top: 25px;
    align-self: center;
}





.box-container i{
    font-size: 3rem;
    color: var(--5th-color);
}








/*------------------------------MEDIA-QUERY*/

@media all and (min-width: 768px){
    .box-w-2-3rd{
        width: calc( ( 100% / 3 * 2 ) - 5px * 2 );
    }
    .box-w-1-3rd{
        width: calc( 100% / 3 - 5px * 2 );
    }

}

@media all and (min-width: 992px){
    .container{
        width: 800px;
        margin: 0 auto;
    }

    .show-menu{
        display: none;
    }
    .menu-list ul{
        display: flex;
    }
    .light-blue-box-rounded:first-child{
        display: flex;
        align-items: flex-end;
    }
    .light-blue-box-rounded:first-child *{
        width: calc( 100% / 2 );
    }
}

@media all and (min-width: 1200px){
    .container{
        margin: 0 auto;
        width: 1000px;
    }
    .show-menu{
        display: none;
    }


}