/*------------------------------RESET*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: var(--7th-color)
}

:root {
    --1st-color: #fff;
    --2nd-color: #000;
    --3rd-color: #9891DF;
    --4th-color: #BEDBFC;
    --5th-color: #3981F4;
    --6th-color: #FDC15F;
    --7th-color: #272727;
    --8th-color: #333333;

}

section:nth-child(even) {
    background-color: var(--3rd-color);
}

.box-container * {
    margin: 12px auto;
}

.box-container {
    padding: 12px 0px;
}

/*--------------------------UTILITIES*/
.container {
    width: 100%;
    padding: 0 1em;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

section {
    margin: 20px 0;
}

.button {
    padding: 5px 10px;
    display: inline-block;
    border-radius: 14px 14px;
}

.box-container {
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

}

.box-rounded {
    margin: 10px 5px;
    border-radius: 1rem;
}

.box-w-2-3rd {
    width: calc(100% - 10px);
    margin: 10px 5px;
}

.box-w-1-3rd {
    width: calc(100% - 10px);
    margin: 10px 5px;
}

.box-w-1-2rd {
    width: calc(100% - 10px);
    margin: 10px 5px;
}

.style-1{
    /*white bg - black c*/
    background-color: var(--1st-color);
    color: var(--7th-color);
}

.style-2 {
    /*blue bg - white c*/
    background-color: var(--5th-color);
    color: var(--1st-color);
}

.style-3 *,
.style-3 {
    /*violet bg - white c*/
    background-color: var(--3rd-color);
    color: var(--1st-color);
}
.style-4{
    /*white bg - violet c*/
    background-color: var(--1st-color);
    color: var(--3rd-color);
}

.style-5, .style-5 *{
    /*white bg - black c*/
    background-color: var(--8th-color);
    color: var(--1st-color);
}



/*------------------------------HEADER*/
header {
    background-color: var(--5th-color);
    height: 80px;
    color: var(--1st-color);
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 1rem;
}

header * {
    color: var(--1st-color);
}

.show-menu {
    font-size: 2rem;
}

.menu-list ul li {
    list-style: none;
}

.menu-list ul {
    display: none;
}

/*------------------------------MAIN*/

.features {
    display: flex;
    flex-wrap: wrap;
}

.features .box-rounded {
    background-color: var(--4th-color);
}

.features .box-container i {
    color: var(--5th-color);
}

.features .box-rounded {
    color: var(--4th-color);
}

.box-rounded .title {
    font-size: 1.4em;
    color: var(--5th-color);
    font-weight: 500;
}

.box-rounded img {
    width: 200px;
}

.purpose .style-1 .title {
    color: var(--2nd-color);
}

.purpose .style-3 .title {
    color: var(--1st-color);
}

.features .box-container i {
    font-size: 3rem;
    color: var(--5th-color);
}

.purpose .box-container i {
    font-size: 1rem;
    color: var(--2th-color);
}

.icon-box {
    background-color: #9891DF;
    border-radius: 50% 50%;
    height: 50px;
    width: 50px;
    position: relative;

}

.icon-box i {
    margin: 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.purpose .box-rounded img {
    width: 100%;
}

.testimonials .title {
    color: var(--1st-color);
}

.testimonials .box-rounded:first-child .title {
    color: var(--3rd-color);
}

.profile-photo {
    height: 125px;
    width: 125px;
    border-radius: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.user-1 {
    background-image: url(./img/testimonial1.jpg);
}

.user-2 {
    background-image: url(./img/testimonial2.jpg);
}

.user-3 {
    background-image: url(./img/testimonial3.jpg);
}

.description {
    display: flex;
    flex-direction: column;

}

.number {
    font-size: 3rem;
}

.benefits .box-container * {
    margin: 12px 0;
}

.benefits .box-container {
    align-content: flex-start;
    align-items: flex-start;
}

.benefits h2 {
    width: calc(100% - 10px);
    margin: 12px 0;
    color: var(--1st-color);
    text-align: center;

}

.find-me{
    width: 125px;
}

.try-it-is-free{
    color: var(--6th-color);
    font-size: 4rem;
}

.get-started .title {
    color: var(--1st-color);
}

/*------------------------------FOOTER*/
footer{
    background-color: var(--8th-color);
    padding: 12px 0;
}







/*------------------------------MEDIA-QUERY*/

@media all and (min-width: 768px) {
    .box-w-2-3rd {
        width: calc((100% / 3 * 2) - 5px * 2);
    }

    .box-w-1-3rd {
        width: calc(100% / 3 - 5px * 2);
    }

    .testimonials .box-container {
        width: calc(100% - 40px);
        margin: 0 auto;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: row;

    }

    .testimonials .box-rounded:first-child .box-container {
        flex-direction: column;
    }

    .description {
        flex-basis: calc(100% - 150px);
    }

    .benefits .box-w-1-3rd {
        width: calc(50% - 5px * 2);
    }
    .about-us .box-container{
        flex-direction: row;
    }
    .get-started .container, footer .container {
        width: 400px;   
        margin: 0 auto;
 
    }


}

@media all and (min-width: 992px) {
    .container {
        width: 800px;
        margin: 0 auto;
    }

    .show-menu {
        display: none;
    }

    .menu-list ul {
        display: flex;
    }

    .features .box-rounded:first-child {
        display: flex;
        align-items: flex-end;
    }

    .features .box-rounded:first-child * {
        width: calc(100% / 2);
    }

    .box-w-1-2rd {
        width: calc(50% - 5px * 2);

    }

    .purpose .container {
        width: 600px;
    }

    .benefits .box-w-1-3rd {
        width: calc(100% / 3 - 5px * 2);
    }
}

@media all and (min-width: 1200px) {
    .container {
        margin: 0 auto;
        width: 1000px;
    }

    .show-menu {
        display: none;
    }

    .purpose .container {
        width: 800px;
    }


}